@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

.app-title {
  color: var(--green);
  font-family: 'Sofia', cursive;
  font-size: 3.2rem;
  margin: 20px 0;
  transition: ease-in-out .5s;
}

.app-title:hover {
  color: var(--darker-green);
}

li {
  list-style: none;
}

.container {
  width: 800px;
}

@media screen and (max-width: 500px) {
  .app-title {
    margin: 10px 0;
  }

  .container {
    width: 95%;
  }
}