.container {
  margin: 1rem 0;
}

.foods_list {
  border: 1px solid var(--grey-border);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.results {
  font-size: 1rem;
  margin-bottom: .25rem;
  font-weight: 600;
  letter-spacing: .3px;
}

.btnNextPage {
  color: white;
  background: var(--green);
	font-size: 1.25rem;
	font-weight: bold;
	padding: .5rem 3.5rem;
  margin: .5rem 0;
	border: 1px solid transparent;
  border-radius: 5px;
  transition: .5s ease;
  outline: none;
	cursor: pointer;
}

.btnNextPage:hover {
  color: var(--green);
  background-color: white;
  border-color: var(--green);
}

@media screen and (max-width: 500px) {
  .foods_list {
    min-width: 75%;
  }
}