.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.spinner {
  position: relative;
  border: 4px solid var(--green);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: rgba(0 , 0 , 0, .1);
  animation: spin .9s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


